---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h3>PGP Public Key</h3>
  <h4>Fingerprint</h4>
  <p><code> 0878 3CD7 C6F5 3940 6712 BD4B 6240 7CA4 5925 BE7A </code></p>

  <p>GitHub,Keybaseから公開鍵を入手できます</p>
  <pre>
$ gpg --fetch-keys https://github.com/minetaro12.gpg
or
$ gpg --fetch-keys https://keybase.io/minetaro12/pgp_keys.asc
</pre>
</Layout>
